img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 55%;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: xx-large;
  padding-bottom: 10px;
  font-style: oblique;
}

.recipes, .ingredients {
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-stretch: expanded;
  font-size: larger;
  text-align: center;
  padding: 15px;
  background-image: url(components\paperbackground.jpg);
}

#nav-container {
  float: right;
  color: #1E90FF;
}
